:root {
    --primary-text-colour: hsl(238, 29%, 16%);
    --primary-text-colour-selected: hsl(14, 88%, 65%);
    --background-gradient-top: hsl(273, 75%, 66%);
    --background-gradient-bottom: hsl(240, 73%, 65%);

    --neutral-text-colour: hsl(237, 12%, 33%);
    --neutral-text-colour-selected: hsl(240, 6%, 50%);

    --divider-colour: hsl(240, 5%, 91%);
}